body {
    line-height: 24px;
    font-weight: normal;
    font-family: 'Balsamiq Sans', cursive;
    font-style: normal;
    margin: 0;
  }

#book-list li {
  list-style-type: none;
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.list-border {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 3px solid black;
  padding-left: 0;
}

.book-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

#book-list li button {
  border: 3px solid black;
  box-shadow: 3px 3px;
}

#book-list li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.5);
}

.hr {
  height: 1px;
  background-color: black;
  width: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

form input,
#add-book {
  border: 3px solid black;
  box-shadow: 3px 3px;
}

form input {
  width: 180px;
}

#header {
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
}

#nav {
    width: 35%;
}

#nav-list {
    display: flex;
    list-style-type: none;
    width: 100%;
}

#nav-list li {
    background-color: #FFF;
    color: black;
    font-size: 12px;
    line-height: 0;
    width: 33.3333%;
    padding: 0;
}

.list {
    border-right: 5px solid black !important;
}

#foot {
    border: 5px solid black;
}

.feet {
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact-list li {
    background-color: #FFF;
}

.active {
    color: blue;
  }

  .hide {
    display: none;
  }

  #date {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }